<h1> All Job Applications </h1>

<% unless @user %>
  <h2> Create User </h2>
  <%= link_to "Create user", new_user_path, class: "button" %>
<% else %>
  <h2> <%= "Current user: #{@user.name}" %> </h2>
<% end %>

<table>
  <tr>
    <th>Company Name</th>
    <th>Job Title</th>
    <th>Job Description</th>
  </tr>
  <% for app in @user.job_apps %> 
    <tr>
      <td> <%= app.company_name %> </td>
      <td> <%= app.title %> </td>
      <td> <%= app.description %> </td>
    </tr>
  <% end %>
</table>
<br>
<%= link_to "Start new job app", new_job_app_path, class: "button" %>

