<h1> Create a new job app </h1>

<%= form_with model: @job_app do |form| %>
  <div>
    <%= form.label :company_name %>
    <%= form.text_field :company_name %>
  </div>
  <div>
    <%= form.label :title %>
    <%= form.textarea :title %>
  </div>
  <div>
    <%= form.label :description %>
    <%= form.textarea :description %>
  </div>
  <%= form.submit %>
<% end %>
