<h1> Create the user</h1>

<%= form_with model: @user do |form| %>
  <div>
    <%= form.label :name %>
    <%= form.text_field :name %>
  </div>
  <div>
    <%= form.label :bio %>
    <%= form.textarea :bio %>
  </div>
  <div>
    <%= form.label :resume %>
    <%= form.textarea :resume %>
  </div>
  <%= form.submit %>
<% end %>
